{% extends "base.html" %}
{% block title %}Summoner{% endblock %}
{% block content %}
<div id="send">
  <div class="alert" id="alert" style="display: none"></div>
  <div class="to">
    <label>To</label>
    <ul id="recipients"></ul>
  </div>
  <div class="clearfix"></div>
  <div id="controls">
    <span><label>SMS</label> <input type="checkbox" id="send-sms" checked="checked" /></span>
    <span><label>Email</label> <input type="checkbox" id="send-email" /></span>
    <span><label>Slack</label> <input type="checkbox" id="send-slack" /></span>

    <div id="automessages">
      <button class="automsg" data-msg="You have a visitor at the front desk.">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Visitor
      </button>
      <button class="automsg" data-msg="You have mail at the front desk.">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mail at Front Desk
      </button>
      <button class="automsg" data-msg="You have a package in the back hallway.">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>Mail in Back Hallway
      </button>
    </div>
  </div>
  <div>
    <textarea rows="3" id="msg"></textarea>
    <button id="send-submit" data-loading-text="Sending..." class="btn btn-primary">Send</button>
  </div>
</div>

<div id="directory">
  <input class="form-control" id="search" autocomplete="off" placeholder="Filter directory..." />
  <div id="listing">
  {% for person in directory if person.active %}
  <div class="person-box">
    <div class="person" data-email="{{ person.email }}">
      <img class="lazy img-rounded" data-original="{{ person.photo }}" width="85" height="85" />

      <span class="name">
        <strong>{{ person.name }}</strong>
      </span>
      <span class="email">
        {{ person.email.split('@')[0] }}@
      </span>
      <span class="title">
        {{ person.title | replace('Software Engineer', 'Engineer') | replace('Business', 'Biz') | replace('Product Manager', 'PM') | replace('Senior', 'Sr') | replace('Manager', 'Mgr') }}
      </span>
      {% if not person.executive %}
      <span class="team">
        {{ person.team | replace('Human Resources', 'HR') | replace('Operations', 'Ops')}}
      </span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
{% block footer %}
  <script src="/static/summoner.js" type="text/javascript"></script>
{% endblock %}
